{:deps {:aliases [:frontend]}
 :dev-http {8080 "."}
 :builds
 {:app {:target :browser
        :output-dir "js"
        :asset-path "./js"
        :modules {:main {:init-fn robogene.frontend.core/init!}}
        :compiler-options {:warnings-as-errors false}}
  :backend {:target :node-script
            :main robogene.backend.api/init!
            :output-to "backend/src/functions/api_compiled.js"
            :compiler-options {:warnings-as-errors false}}}}
