{:deps {:aliases [:webapp]}
 :js-options {:js-package-dirs ["node_modules"]}
 :dev-http {8080 "dist/debug/webapp"}
 :builds
 {:webapp-debug {:target :browser
                 :output-dir "dist/debug/webapp/js"
                 :asset-path "./js"
                 :modules {:main {:init-fn webapp.shared.bootstrap/init!}}
                 :devtools {:after-load webapp.shared.bootstrap/after-load!}
                 :compiler-options {:warnings-as-errors false}}
  :webapp-release {:target :browser
                   :output-dir "dist/release/webapp/js"
                   :asset-path "./js"
                   :modules {:main {:init-fn webapp.shared.bootstrap/init!}}
                   :compiler-options {:warnings-as-errors false}}
  :webapi-debug {:target :node-script
                 :main services.api/init!
                 :output-to "dist/debug/webapi/webapi_compiled.js"
                 :compiler-options {:warnings-as-errors false}}
  :webapi-release {:target :node-script
                   :main services.api/init!
                   :output-to "dist/release/webapi/webapi_compiled.js"
                   :compiler-options {:warnings-as-errors false
                                      :optimizations :simple}}}}
